
.idea/misc.xml
.idea/gradle.xml
.gradle/8.0/checksums/checksums.lock
.gradle/8.0/checksums/md5-checksums.bin
.gradle/8.0/checksums/sha1-checksums.bin
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/gradle.xml
.idea/misc.xml
local.properties
# ignore all .gradle stuff
./gradle/*
